.footer {
  background-color: rgb(61, 111, 108);
  color: rgb(148, 142, 142);
  border-left-style: groove;
  border-style: hidden;
  padding: 1rem;
  min-height: 10vh;
  display: grid;
  place-content: center;
}
